# This is a configuration file for a Twitter app

# Your custom version should be located in your home directory
# On Macs and Linux machines, you can find this by running
#     echo ~
# On Windows, you can find this by running
#     echo %userprofile%

# The format here is Python. Python dicts are much like JSON.

# A Twitter app requires four things for authentication,
# all strings.

{
 "consumer_key": "WQOS5jsNhsPr2rPijW8S7U1y5",
 "consumer_secret": "bG6O1vL4L3AZCH4gqD46vSo3ndB3xtAFghDDYwgsK87LpjzFto",
 "access_token": "202742563-ZUvZ34CQCx8f2zLWHNahMqn5ArZbt5aYrch9XBmQ",
 "access_token_secret": "anQLiw9J35b2pckVsojyCmI5PQ2aNmzJViolaUn8Fj6NW",
}
